{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="en">
     <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Généal{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Publier sa généalogie pas comme une truffe">
        <meta name="author" content="Ophel'">
         <!-- Le styles -->
            {% block stylesheets %}
                {# On charge le CSS de bootstrap depuis le site directement #}
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            {% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{path('oph_familytree_homepage')}}">Généal</a>
                    </div><!--end navbar header-->
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ path('oph_familytree_homepage') }}">Accueil<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{path('oph_familytree_add')}}">Agrandir la famille</a></li>
                        </ul>
                         <p class="navbar-text navbar-right">Anita et Georges</p>
                    </div><!-- /.navbar-collapse -->
                <!-- Brand and toggle get grouped for better mobile display -->
                </div><!-- /.container-fluid -->
            </nav>
            
            <div class="container">
                <div id="content">
                    {% block body %}
                    
                    {% endblock %}
                </div><!--end content-->
            </div>
            <hr>
            
          
            
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            
            {% block javascripts %}
                
             {% endblock %}
             
             
               <footer>
                <p>Arbuste généalogique by Ophel' © {{ 'now'|date('Y') }}.</p>
            </footer>
           </div><!--end content-->
        </div><!--end container-fluid-->  
                
    </body>
</html>

    