.float-right{
    float: right;
}

/*******tree*****/
svg {
  margin-top: 32px;
  border: 1px solid #aaa;
}

.person rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}

.person {
  font: 14px sans-serif;
  cursor: pointer;
}

.descendant{
  font: 14px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
}

/***************/

#myDiagram{
  margin-bottom:20px;
}