.float-right{ float: right;}
.tac{text-align:center;}


/**font**/

p,a, h4, h5 {font-family: 'Open Sans', sans-serif;}
h1,h2,h3{font-family: 'Kreon', serif;}
h2 { letter-spacing: 0.12rem;  margin-bottom: 32px; }

/****************/
.navbar-inverse .navbar-nav>li>a {     color: white;}
.navbar-inverse .navbar-nav>li>a:hover {     color: #777;}
.navbar-inverse .navbar-brand {    color: white;}
.navbar-inverse .navbar-brand:hover {    color: #777;}
/****************/
.container-fluid{  padding-left: 0!important;  padding-right: 0!important;}
#resume{   width:100%;   position:relative;   padding-bottom: 30px;}
#resume ul{list-style-type: none;}
#galerie{  padding: 34px 70px;}
#documents{  padding-top: 20px; padding-bottom: 40px;}

/*******tree*****/
.person rect {
    fill: #fff;
    stroke: #3D70A5;
    stroke-width: 1px;
}

.person {
  font: 14px sans-serif;
  cursor: pointer;
}

.descendant{
  font: 14px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

svg {
   /* display: block;
    margin-top: 32px;
    width: 100%;
    height: 100%;
    en conflit avec afffichage profiler*/
}

.name{
  color:red;
  padding-left:20px;
}
/*Bouton*/
.btn-jay {
  border: none;
  border-radius: 0;
  color: white!important;
  cursor: pointer;
  text-align: center;
  background: #3D70A5;
  display: inline-block;
  padding: 5px 9px;
  margin-left: 2px;
}
.btn-jay:hover {background: #1FA2E1;color: rgb(255, 255, 255);border: none;}
.btn-jay:hover>a, .btn-jay:hover>a>div, .btn-jay:hover>a>div>sup{   color: #F50043;text-decoration:none;   border: none;}
.btn-jay a:hover {text-decoration: none;}
.btn-jay a, .btn-jay>a>div, .btn-jay>a>div>sup{color: white;}

/*Tree*/
#myDiagram { 
  margin-bottom:20px;
  width:100%;
  height:900px; 
  text-align:center;
  border: 1px solid #aaa;
}

/*Map*/
#map { 
  height: 600px; 
  padding-top: 20px;
  
}