{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{% extends "OphFamilytreeBundle::layout.html.twig" %}

{% block title %}
  Nouveau - {{ parent() }}
{% endblock %}

{% block ophfamilytree_body %}
<h3>La famille s'agrandit !</h3>

{{ include("OphFamilytreeBundle:Leaf:form.html.twig") }}

<div class="container">
        <p> <a href="{{ path('oph_familytree_homepage') }}" class="btn btn-success" role="button">Retour</a></p>
</div>

{% endblock %}