{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OphFamilytreeBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block ophfamilytree_body %}
    <div class="container">
        <div class="page-header">
            <h1>Arbre généalogique</h1>
        </div>
    </div>
    <div class="container">
        <p>Cliquez sur les photos pour déplier / replier l'arbre.<br>
        Cliquez sur les noms pour découvrir les membres de la famille.<br>
        <em>Vous devez vous connecter pour accéder à l'édition de l'arbre généalogique. [ Identifiants pour les tests : <strong>user</strong>, mot de passe : <strong>test</strong> ]</p>
        <div id="myDiagram"></div>
    </div>
{% endblock %} 

{% block familytree_js %}

    
    
    <script type="text/javascript">
        setupTree('{{ path('oph_familytree_tree') }}', '{{ path('oph_familytree_homepage') }}');
    </script>
    
    
{% endblock %}